---
# roles/hostname/tasks/main.yml

# The _domain variable functions as a FQDN to handle deployments using a subdomain, top level domain and www subdomain, or default rDNS. 

# When domain is defined
- name: set dns fact for subdomain
  set_fact:
    _domain: '{{ subdomain }}.{{ domain }}'
    cacheable: yes
  when:
    - domain is defined
    - subdomain != "www"
    - "'spark_master' in group_names"
    
- name: set dns fact for domain
  set_fact:
    _domain: '{{ domain }}'
    cacheable: yes
  when: 
    - domain is defined
    - subdomain == "www"
    - "'spark_master' in group_names"

- name: setting system hostname on master
  hostname:
    name: "{{ _domain }}" 
  when: 
    - domain is defined
    - "'spark_master' in group_names"

# Since worker UIs are viewed through reverse proxy, hostname will always be default dns on workers
- name: setting system hostname on workers
  hostname:
    name: "{{ ansible_default_ipv4.address | replace('.', '-') }}.ip.linodeusercontent.com"
  when: 
    - domain is defined
    - "'spark_workers' in group_names"

# When domain is not defined
- name: set dns fact for default rdns
  set_fact:
    _domain: "{{ ansible_default_ipv4.address | replace('.', '-') }}.ip.linodeusercontent.com"
    cacheable: yes
  when: domain is not defined

- name: setting system hostname
  hostname:
    name: "{{ _domain }}" 
  when: domain is not defined