*********************************************************
Akamai Connected Cloud Kafka Marketplace App
Spark Application UI: {{ _domain }}
Credentials File: 
 - /home/{{ sudo_username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/apache-spark/
*********************************************************
To delete this message of the day: rm /etc/motd