### s3 core-site.xml template ###
<configuration>
  <property>
    <name>fs.s3a.endpoint</name>
    <value>https://region.example.com</value>
  </property>
  <property>
    <name>fs.s3a.access.key</name>
    <value>$object_storage_access_key</value>
  </property>
  <property>
    <name>fs.s3a.secret.key</name>
    <value>$object_storage_secret_access_key</value>
  </property>
  <property>
    <name>fs.s3a.path.style.access</name>
    <value>true</value>
  </property>
  <property>
    <name>fs.s3a.impl</name>
    <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
  </property>
</configuration>
